{% if not this.theme.banner_image %}
    {% set banner_image = 'assets/images/banner.jpg' %}
{% else %}
    {% set banner_image = this.theme.banner_image %}
{% endif %}

<div class="header_section" style="background-image: url('{{ banner_image |theme }}');">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div>
                    <a href="#">
                        {% if this.theme.site_logo %}
                            <img src="{{ this.theme.site_logo |theme }}">
                        {% else %}
                            <img src="{{ 'assets/images/logo.png' |theme }}">
                        {% endif %}
                    </a>
                </div>
            </div>
            {% if this.theme.menu_active %}
                <div class="col-md-8">
                    <div class="menu_text">
                        <ul>
                            <li class="active">
                                <div id="myNav" class="overlay">
                                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                    <div class="overlay-content">
                                        {% if this.theme.menu_items %}
                                            {% for m in this.theme.menu_items %}
                                                <a href="{{ m.url }}">{{ m.label  }}</a>
                                            {% endfor %}
                                        {% else %}
                                            {% content 'default_menu_items' %}
                                        {% endif %}
                                    </div>
                                </div>
                                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="banner_main">
        <div class="container">
            <div class="ram">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="taital">{{ this.theme.banner_title }}</h1>
                        <p class="consectetur_text">{{ this.theme.banner_description }}</p>
                        <div class="banner_bt">
                            <button class="read_bt">Read More</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box">
                <h1 class="numbar_text">01</h1>
            </div>
        </div>
    </div>
</div>