<div class="section_footer">
    <div class="container">
        <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <ul>
                        <li class="footer-logo"><img src="{{ 'assets/images/logo.png'|theme }}"></li>
                        <li class="footer-logo"><img src="{{ 'assets/images/icons/map-icon.png'|theme }}">
                            <span class="map_text">{{ this.theme.footer_address }}</span>
                        </li>
                        <li class="footer-logo"><img src="{{ 'assets/images/icons/call-icon.png'|theme }}">
                            <span class="map_text">{{ this.theme.footer_phone }}</span>
                        </li>
                        <li class="footer-logo"><img src="{{ 'assets/images/icons/email-icon.png'|theme }}">
                            <span class="map_text">{{ this.theme.footer_email }}</span>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <h2 class="shop_text">{{ this.theme.about_title }}</h2>
                    <p class="dummy_text">{{ this.theme.about_description }}</p>
                </div>
            </div>
            </div>
            <div class="copyright">
                <a href="https://alexhenrique.github.io">&copy; Alex Paiva 2024</a>
            </div>
        </div>
    </div>
</div>