<div class="touch_section_2">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="our_texts">Our Newsletter</h1>
                <div class="input-group mb-3">
                    <input class="email_bt" type="text" class="form-control" placeholder="Enter your email">
                 <div class="input-group-append">
                    <button class="subscribe_bt" class="btn btn-primary" type="Subscribe">Subscribe</button>  
                 </div>
                </div>
            </div>
        </div>
    </div>
</div>